@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

/* chrome */
html::-webkit-scrollbar {
  display: none;
}

/* firefox */
html {
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: #00000091;
  background: linear-gradient(to top, #000000e2 50%, transparent),
    url(./images/animal_1.jpg) left center / cover fixed no-repeat;
  color: #eee;
  font-family: Poppins;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

p,
span,
h1,
h2,
h3,
img {
  margin: 0;
}

svg {
  width: 22px;
}

/* header */
header {
  position: relative;
  z-index: 100;
  height: 60px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin: auto;
  padding: 12px;

  width: 75rem;
  max-width: 100%;

  background-color: #70a6ad71;
}

@media screen and (min-width: 680px) {
  header {
    height: 3.125rem;
  }

  .header-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    background-color: transparent;
  }

  .inner-container {
    justify-content: flex-end;
  }
}

.logo {
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1), 0 5px 10px rgba(0, 0, 0, 0.415);
  font-size: 20px;
  font-weight: bold;
  transition: all 250ms ease-in-out;
}

.logo span {
  color: #70a6ad;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 1),
    0 0.3125rem 0.625rem rgba(255, 255, 255, 0.454);
}

.logo:hover,
.logo:focus {
  color: #4faeba;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 1),
    0 0.3125rem 0.625rem rgba(255, 255, 255, 0.454);
}

.logo:hover span,
.logo:focus span {
  color: #ffffff;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 1),
    0 0.3125rem 0.625rem rgba(255, 255, 255, 0.454);
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 680px) {
  nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}

nav a {
  color: #eee;
  transition: all 250ms ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #70a6ad;
}

nav li {
  position: relative;
}

nav li > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0px;
  height: 0.125rem;

  background-color: #70a6ad;
  transition: width 250ms ease-in-out;
}

nav li > a:hover::after {
  width: 100%;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;
  width: 120px;
  max-width: 100%;
  height: 30px;

  background-color: #bcd6ce3b;
  border-radius: 8px;
}

.search-input {
  padding: 0 20px 0 8px;
  max-width: 100px;

  background-color: transparent;
  border: none;
  outline: none;
}

.search svg {
  position: absolute;
  top: 12%;
  right: 2%;
}

@media screen and (min-width: 680px) {
  .search {
    justify-self: flex-end;
  }
}

/* carousel */
.carousel {
  position: relative;
  margin-top: -60px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media screen and (min-width: 680px) {
  .carousel {
    position: relative;
    margin-top: -50px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

.item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.item.active {
  opacity: 1;
  z-index: 1;
}

.item.active::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background: rgba(13, 13, 13, 0);
  background: linear-gradient(
    0deg,
    rgba(13, 13, 13, 0.4) 4%,
    rgba(255, 253, 253, 0) 24%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 254, 254, 0) 80%,
    rgba(11, 66, 61, 0.1) 100%
  );
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-wrapper {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 45%);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;

  margin: 0 auto;

  height: 40%;
  width: 950%;
  max-width: 95%;

  background: #70a6ad;
  background: linear-gradient(10deg, #48707538 0%, #ffffff2b 100%);
  padding: 12px;
  border-radius: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding-right: 20%;
  max-width: 1200px;
}

.title,
.topic {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  line-height: 1.3em;
}

.title {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1), 0 5px 10px rgba(0, 0, 0, 0.704);
  font-size: calc(calc(1vw + 1vh) * 2);
}

.topic {
  color: #70a6ad;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 1), 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.626);
  font-size: calc(calc(1vw + 1vh) * 1.5);
}

.desc {
  color: #ffffff;
  text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 1);
  font-size: calc(calc(1vw + 1vh) * 1.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 8.125rem);
  grid-template-rows: 2.5rem;
  gap: 1rem;
  padding-inline-start: 0px;
}

.buttons li {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #eee;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;

  transition: all 250ms ease-in-out;
}

.buttons li:nth-child(2) {
  background-color: transparent;
}

.buttons li:hover,
.buttons li:focus {
  background-color: transparent;
}

.buttons a {
  color: #70a6ad;
  font-size: 1rem;
  text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.8);
  transition: all 250ms ease-in-out;
}

.buttons a:hover,
.buttons a:focus {
  color: #ffffff;
}

.buttons a:nth-child(2) {
  color: #eee;
}

@media screen and (min-width: 680px) {
  .content-wrapper {
    left: 40%;
    transform: translate(-50%, 25%);

    height: 50%;
    width: 70%;
    max-width: 100%;

    background: transparent;
    background: linear-gradient(10deg, #70a6ad00 0%, #ffffff00 100%);
  }
}

@media screen and (min-width: 980px) {
  .content-wrapper {
    left: 40%;
    transform: translate(-50%, 35%);

    height: 50%;
    width: 70%;
    max-width: 100%;
  }
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel .list .item.active .content .title,
.carousel .list .item.active .content .topic,
.carousel .list .item.active .content .desc,
.carousel .list .item.active .buttons li {
  transform: translateY(50px);
  filter: blur(50px);
  animation: showContent 1000ms linear 1 forwards;
}

.carousel .list .item.active .content .title {
  animation-delay: showContent 250ms;
}

.carousel .list .item.active .content .topic {
  animation-delay: showContent 280ms;
}

.carousel .list .item.active .content .desc {
  animation-delay: showContent 300ms;
}

.carousel .list .item.active .buttons li {
  animation-delay: showContent 320ms;
}

/* thumbnail */

.thumbnail {
  position: absolute;
  bottom: 0.5%;
  right: 1%;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  gap: 12px;

  width: 100%;
  height: 220px;
  padding: 0 8px;
  overflow: auto;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail-item {
  position: relative;
  flex-shrink: 0;

  width: 150px;
  height: 200px;

  filter: brightness(0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.368);
  border-radius: 20px;
  transition: all 250ms ease-in-out;
}

.thumbnail-item.active {
  filter: brightness(1.5);
}

.thumbnail-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, #000 20%, transparent);
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail-content {
  position: absolute;
  bottom: 10px;
  inset: auto 10px 10px 10px;
  z-index: 1;
  color: #fff;
}

.thumbnail-title {
  font-size: 10px;
  font-weight: 500;
}

@media screen and (min-width: 680px) {
  .thumbnail-title {
    font-size: 1rem;
    font-weight: 500;
  }
}

.thumbnail-desc {
  font-weight: 300;
}

/* arrows */

.arrows {
  position: absolute;
  top: 14%;
  right: 10%;
  z-index: 100;

  display: flex;
  align-items: center;
  gap: 10px;

  width: 300px;
  max-width: 30%;
}

@media screen and (min-width: 480px) {
  .arrows {
    top: 12%;
    right: 8%;
  }
}

@media screen and (min-width: 680px) {
  .arrows {
    top: 5%;
    right: -10%;
  }
}

@media screen and (min-width: 980px) {
  .arrows {
    position: absolute;
    top: 5%;
    right: 1%;
    z-index: 1000;
  }
}

.arrows button {
  width: 40px;
  height: 40px;

  color: #fff;
  background-color: #eee4;

  border-radius: 50%;
  border: none;

  font-family: monospace;
  font-weight: bold;
  transition: all 500ms ease-in-out;
}

.arrows button:hover,
.arrows button:focus {
  background-color: #fff;
  color: #000;
}

/* create animation when next click */

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .list .item img {
  position: absolute;
  bottom: 3%;
  left: 1%;

  width: 150px;
  height: 220px;

  border-radius: 30px;
}

.carousel.next .list .item img.show-animation {
  animation: showImage 1000ms linear 1 forwards;
}

@media screen and (min-width: 980px) {
  .thumbnail {
    height: 310px;
  }

  .thumbnail-item {
    width: 250px;
    height: 300px;
  }

  .carousel.next .list .item img.show-animation {
    width: 250px;
    height: 300px;
  }
}

.carousel.prev .list .item img {
  z-index: 100;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

.carousel.next .thumbnail {
  animation: effectNext 1000ms linear 1 forwards;
}

/* prev click */

/* .carousel.prev .list .item:nth-child(2) {
  z-index: 2;
} */

/* @keyframes outFrame {
  to {
    width: 0;
    height: 0;
  }
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outFrame 1000ms linear 1 forwards;
} */

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.carousel.prev .thumbnail-item:nth-child(1) {
  overflow: hidden;
  opacity: 1;
  animation: showThumbnail 1000ms linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

/* @keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(30px);
    opacity: 0;
  }
}

.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .desc,
.carousel.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 500ms linear 1 forwards;
} */

/* running time */

.time {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;

  width: 0%;
  height: 3px;
  background-color: #fc4102;
}

@keyframes runningTime {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3000ms linear 1 forwards;
}
